*, *:before, *:after {
  box-sizing: border-box;
}

html, div, body, ol, ul, li,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

h1 {
  color: black;
}

.hidden {
  position: absolute;
  left: -1000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 150px;
}

li > a > img {
  width: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  width: 50%;
}

@media (min-width: 48em) {
  header {
    position: absolute;
    right: 0;
  }
}

#split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 48em) {
  #split {
    flex-direction: row;
  }
}

section#left {
  width: 50vw;
  background-color: hsl(243, 87%, 12%);
}

section#right {
  width: 50vw;
  margin: 50px;
}

main {
  margin: inherit;
}

body {
  font-family: 'Open Sans', sans-serif;
}
