*, *:before, *:after {
  box-sizing: border-box;
}

html, div, body, ol, ul, li,
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ol, ul {
  list-style: none;
}

h1 {
  color: red;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 150px;

}

li > a > img {
  width: 30px;


}
header {
  display: flex;
  justify-content: space-between;
  margin: 50px;
